/* src/components/Calculator.css */

.calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #333;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 600px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 5px;
}

.history {
  margin-top: 20px;
  background-color: #444;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
}

.history h2 {
  margin: 0;
  margin-bottom: 10px;
  text-align: center;
  color: #fff;
}

.history ul {
  list-style: none;
  padding: 0;
  margin: 0;
  max-height: 100px;
  overflow-y: auto;
}

.history li {
  margin-bottom: 5px;
  padding: 5px;
  background-color: #555;
  border-radius: 3px;
  font-size: 14px;
  color: #fff;
}
